@import url("https://fonts.googleapis.com/css2?family=Geo:ital@0;1&family=Roboto&display=swap");

$text-color: #d9d9d9;
$background-color: #0a0a0a;

@mixin font-primary {
  font-family: "Geo", sans-serif;
}

@mixin heading {
  @include font-primary;
  letter-spacing: 1.08px;
  text-align: center;
  font-size: 12rem;
  font-style: normal;
  font-weight: 500;
}

@mixin medheading {
  @include heading;
  font-size: 6rem;
}

@mixin subheading {
  @include font-primary;
  text-align: center;
  font-size: 3rem;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 1.08px;

}

@mixin paragraph {
  @include subheading;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: 42px; /* 116.667% */
  letter-spacing: 1.08px;
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}
